@font-face {
    font-family: "My Custom Font";
    src: url(fonts/PocketMonk.otf) format("opentype");
}

body{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background: rgb(47,110,181);
  color: rgb(255,203,55);
}

h1, span{
  font-family: "My Custom Font";
}

h1{
  font-size: 5em;
}

span{
  font-size: 2em;
}

.regular{
  color: #000000;
}

#game-content{
  height: 75vh;
  background: #909090;
  position: relative;
  color: #ffffff;
  background-size: cover;
}

.peekaboo{
  position:absolute;
  top:40%;
  left:40%;
  background: white;
}

.gamechoice {
  margin: 3em 0;
}

.start{
  position: absolute;
  top: 45%;
  left: 45%;
}

.lugia {
  position: absolute;
  top: 42.5%;
  left: 42.5%;
  width:10%;
}

.gust {
  position:absolute;
  width:10%;
  opacity: 0;
}

.active {
  display:block;
  opacity:1;
}

#a{
  top: 42.5%;
  left: 32.5%;
}

#w{
  top: 27.5%;
  left: 42.5%;
}

#d{
  top:42.5%;
  left:52.5%;
}

#s{
  top:57.5%;
  left:42.5%;
}

.ghost{
  width: 5%;
  position: absolute;
}

#ghost0{
  top:0;
  left:0;
}

button{
  color: #000000;
}
